<form action="/create" method="post" accept-charset="utf-8">
  <p><label for="title">Title</label><input type="text" name="page[title]" value="" id="title"></p>
  <p><label for="url">Url</label><input type="text" name="page[url]" value="" id="url"></p>
  <p><label for="lang">Lang</label><input type="text" name="page[lang]" value="" id="lang"></p>
  <p><textarea name="page[content]" rows="8" cols="40"></textarea></p>
  <p><input type="submit" value="Continue &rarr;"></p>
</form>