<div id="treballs" class="contingut">
	<h2><?= $trebar[$lang] ?></h2>
	
	<div class="treball par">
		<img src="/img/intranet-benedicto.jpg" alt="Intranet Benedicto" width="400" height="160" />
		<h3>Benedicto Gestió de Projectes</h3>
		<p><?= $bgp[$lang] ?></p>
	</div>
	
	<div class="treball">
		<a href="http://www.gctarquitectes.com/" title="Web GCT Arquitectes" target="_blank"><img src="/img/web-gct.jpg" alt="Web GCT Arquitectes" width="400" height="160" /></a>
		<h3>GCT Arquitectes</h3>
		<?= $gct[$lang] ?>
	</div>
	
	<div class="treball par">
		<a href="http://www.jaumeartigues.com/" title="Web Jaume Artigues" target="_blank"><img src="/img/web-jaume-artigues.jpg" alt="Web Jaume Artigues" width="400" height="160" /></a>
		<h3>Jaume Artigues, arquitecte</h3>
		<?= $jaume[$lang] ?>
	</div>
	
	<div class="treball">
		<a href="http://www.jordiromero.com/" title="Web Jordi Romero" target="_blank"><img src="/img/web-jordi-romero.jpg" alt="Web Jordi Romero" width="400" height="160" /></a>
		<h3>Jordi Romero, arquitecte</h3>
		<?= $jordir[$lang] ?>
	</div>
	
	<div class="treball par">
		<a href="http://www.pladelacerdanya.com/" title="Web Pla de la Cerdanya" target="_blank"><img src="/img/web-pla-de-la-cerdanya.jpg" alt="Web Pla de la Cerdanya" width="400" height="160" /></a>
		<h3>Pla de la Cerdanya</h3>
		<p><?= $pla[$lang] ?></p>
	</div>
</div>